:root{
  --hero-canvas-width: 350px;
  --hero-canvas-height: 350px;
}

canvas {
  position: fixed;
  border: solid 1px black;
  top: 50;
  left: 50%;
}
#app{
  color: white;
  position: absolute;
}

.hero {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
#hero-bg {
  z-index: -5;
}